<!DOCTYPE html>
<html ng-app="policeApp">

<head>
    <meta charset="UTF-8">
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/jq.progress-bar.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-material/angular-material.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/ui-bootstrap-tpls-0.4.0.js"></script>

    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">

    <title>Politseile avalduse esitamine</title>
</head>

<body>
    <div ng-controller="formController" layout="column" ng-cloak class="md-inline-form">
        <form role="form" ng-submit="submit()">
            <h2>Teataja</h2>
            <div layout="column">

                <div>
                    <md-content layout-padding>
                        <div>
                            <md-input-container>
                                <label>Eesnimi</label>
                                <input ng-model="firstName" type="text" required md-asterisk>
                            </md-input-container>
                            <md-input-container>
                                <label>Perekonnanimi</label>
                                <input ng-model="lastName" type="text" required md-asterisk>
                            </md-input-container>
                        </div>
                    </md-content>

                    <md-content layout="column" layout-padding>
                        <div>
                            <md-radio-group ng-model="radioCurrent" layout="column">
                                <md-radio-button value="0" ng-click="selectRadio(0)">Isikukood</md-radio-button>
                                <md-radio-button value="1" ng-click="selectRadio(1)">Sünniaeg</md-radio-button>
                            </md-radio-group>
                            <md-input-container ng-show="isSelected(0)">
                                <label>Isikukood</label>
                                <input ng-model="idCode" type="text">
                            </md-input-container>
                            <md-input-container ng-show="isSelected(1)">
                                <label>Sünniaeg</label>
                                <md-datepicker ng-model="dateOfBirth"></md-datepicker>
                            </md-input-container>
                        </div>
                    </md-content>

                    <md-content layout-padding>
                        <div>
                            <md-input-container>
                                <label>Amet</label>
                                <input ng-model="occupation" type="text">
                            </md-input-container>
                            <md-input-container>
                                <label>Kodakondsus</label>
                                <md-select ng-model="citizenship">
                                    <md-option ng-repeat="citizenship in citizenships" value="{{citizenship.id}}">
                                        {{citizenship.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </md-content>
                </div>

                <div>
                    <md-content layout-padding>
                        <div>
                            <md-input-container>
                                <label>Elukoha aadress</label>
                                <input ng-model="address" type="text">
                            </md-input-container>
                            <md-input-container>
                                <label>Sihtnumber</label>
                                <input ng-model="postcode" type="text">
                            </md-input-container>
                        </div>
                    </md-content>

                    <md-content layout-padding>
                        <div>
                            <md-input-container>
                                <label>Maakond</label>
                                <md-select ng-model="county">
                                    <md-option ng-repeat="county in counties" value="{{county.id}}">
                                        {{county.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </md-content>

                    <md-content layout-padding>
                        <div>
                            <md-input-container>
                                <label>Sobiv viis kontakteerumiseks</label>
                                <md-select ng-model="contact_manner">
                                    <md-option ng-repeat="cm in contact_manners" value="{{cm.id}}">
                                        {{cm.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container>
                                <label>Sobiv aeg kontakteerumiseks</label>
                                <input ng-model="contact_time" type="text">
                            </md-input-container>

                        </div>
                    </md-content>

                    <md-content layout-padding>
                        <div>
                            <md-input-container>
                                <label>E-post</label>
                                <input ng-model="email" type="text" required md-asterisk>
                            </md-input-container>
                            <md-input-container>
                                <label>Telefon:</label>
                                <input ng-model="phone" type="text" required md-asterisk>
                            </md-input-container>
                        </div>
                    </md-content>

                    <md-content layout-padding>
                        <div>
                            <md-input-container>
                                <md-checkbox ng-model="person_is_jur" aria-label="Kannatanu on juriidiline isik">Kannatanu on juriidiline isik</md-checkbox>
                            </md-input-container>
                        </div>
                    </md-content>
                </div>

            </div>
            <h2>Sündmus</h2>
            <div layout="column">

                <div>
                    <md-content layout-padding>
                        <div>
                            <md-input-container>
                                <label>Kuupäev</label>
                                <md-datepicker ng-model="dateOfIncident"></md-datepicker>
                            </md-input-container>

                            <md-input-container>
                                <label>Kellaaeg</label>
                                <input ng-model="timeOfIncident" type="time">
                            </md-input-container>
                        </div>
                    </md-content>

                    <md-content layout-padding>
                        <div>
                            <md-input-container>
                                <label>Prefektuur</label>
                                <md-select ng-model="police_area">
                                    <md-option ng-repeat="area in police_areas" value="{{area.id}}">
                                        {{area.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </md-content>

                    <md-content layout-padding>
                        <div>
                            <md-input-container>
                                <label>Riik</label>
                                <md-select ng-model="country">
                                    <md-option ng-repeat="country in citizenships" value="{{country.id}}">
                                        {{country.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </md-content>

                    <md-content layout-padding>
                        <div>
                            <md-input-container>
                                <label>Aadress</label>
                                <input ng-model="incidentAddress" type="text">
                            </md-input-container>

                            <md-input-container>
                                <label>Toimumise koht</label>
                                <input ng-model="place" type="text">
                            </md-input-container>
                        </div>
                    </md-content>
                </div>

                <div>
                    <md-content layout-padding>
                        <div>
                            <md-input-container>
                                <label>Toimunu kirjeldus</label>
                                <textarea ng-model="desc" required md-asterisk></textarea>
                            </md-input-container>
                        </div>
                    </md-content>

                    <md-content layout-padding>
                        <div>
                            <md-input-container>
                                <label>Tekitatud varaline kahju €</label>
                                <input ng-model="damage" type="number">
                            </md-input-container>
                        </div>
                    </md-content>
                </div>

            </div>
    </div>
    </form>
    </div>
    <!--script>
        $(document).ready(function () {
            $('#mainForm').showProgress({
                message: {
                    '25': 'Veerand on valmis!',
                    '50': 'Oled poolel teel!',
                    '75': 'Kõigest natuke veel!',
                    '100': 'Ja ongi valmis!'
                },
                position: 'bottom'
            });
        });
    </script-->
</body>

</html>