<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
</head>

<body ng-controller="formController" class="container" ng-app="policeApp"> <br />
    <form class="form-horizontal" role="form">

        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">Eesnimi:</label>
            <div class="col-sm-6">
                <input type="text" id="firstName" class="form-control" ng-model="application.firstName" required/>
            </div>
            <div class="col-sm-3"></div>
        </div>

        <div class="form-group">
            <label for="lastName" class="col-sm-3 control-label">Perekonnanimi:</label>
            <div class="col-sm-6">
                <input type="text" id="lastName" class="form-control" ng-model="application.lastName" required/>
            </div>
            <div class="col-sm-3"></div>
        </div>

        <div class="form-group">
            <label for="idCode" class="col-sm-3 control-label">Isikukood:</label>
            <div class="col-sm-6">
                <input type="text" id="idCode" class="form-control" ng-model="application.idCode" required/>
            </div>
            <div class="col-sm-3"></div>
        </div>

        <div class="form-group">
            <label for="dateOfBirth" class="col-sm-3 control-label">Sünniaegs</label>
            <div class="col-sm-2">
                <input type="date" id="dateOfBirth" class="form-control" ng-model="application.dateOfBirth" />
            </div>
            <div class="col-sm-7"></div>
        </div>

        <div class="form-group">
            <label for="occupation" class="col-sm-3 control-label">Amet:</label>
            <div class="col-sm-6">
                <input type="text" id="occupation" class="form-control" ng-model="application.occupation" required/>
            </div>
            <div class="col-sm-3"></div>
        </div>

        <div class="form-group">
            <label for="citizenship" class="col-sm-3 control-label">Kodakondsus:</label>
            <div class="col-sm-6">
                <select class="form-control" ng-model="application.citizenship">
                    <option ng-repeat="citizenship in citizenships" value="{{citizenship.id}}">{{citizenship.name}}</option>
                </select>
            </div>
            <div class="col-sm-3"></div>
        </div>

        <div class="form-group">
            <label for="address" class="col-sm-3 control-label">Elukoha aadress:</label>
            <div class="col-sm-6">
                <!--input type="text" id="address" class="form-control" ng-model="application.address" /-->
                <input type="text" id="address" class="form-control" ng-model="chosenPlace" placeholder="" googleplace />
            </div>
            <div class="col-sm-3"></div>
        </div>

    </form>
</body>

</html>