<!DOCTYPE html>
<html ng-app="policeApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-material/angular-material.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/ui-bootstrap-tpls-0.4.0.js"></script>

    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="styles/form.css">

    <title>Politseile avalduse esitamine</title>
</head>

<body>
    <div ng-controller="formController" layout="column" ng-cloak class="md-inline-form">
        <md-content layout-padding>
            <form role="form" name="policeForm" ng-submit="submit(policeForm.$valid)" ng-show="showForm" novalidate>
                <div  layout="column" layout-align="center" layout-xs="column" layout-wrap align="center">

                    <div flex="100">
                        <h1>Politseile avalduse esitamine</h1>
                    </div>
					<div   flex-xs="100"  layout="row" layout-align="center" layout-xs="column">
                    <md-input-container  >
                        <md-button flex flex-xs="100" class="md-raised"  ng-click="populateWithTestData()">Täida vorm testandmetega</md-button>
                    </md-input-container>
					</div>
					<div class="blocks" align="center">
						<div "flex="100">
							<h3>Teataja</h3>
						</div>

						<div  flex flex-xs="100"  layout="row" layout-align="center" layout-xs="column">
							<md-input-container flex="33" flex-xs="100">
								<label>Eesnimi</label>
								<input ng-model="firstName" name="firstName" type="text" md-maxlength="30" required md-asterisk>
								<div ng-messages="policeForm.firstName.$error" role="alert">
									<div ng-message="required">See väli on kohustuslik.</div>
									<div ng-message="md-maxlength">Eesnimi ei tohi olla pikem kui 30 tähemärki.</div>
								</div>
							</md-input-container >
							<md-input-container flex="33" flex-xs="100">
								<label>Perekonnanimi</label>
								<input ng-model="lastName" name="lastName" type="text" md-maxlength="30" required md-asterisk>
								<div ng-messages="policeForm.lastName.$error" role="alert">
									<div ng-message="required">See väli on kohustuslik.</div>
									<div ng-message="md-maxlength">Perekonnanimi ei tohi olla pikem kui 30 tähemärki.</div>
								</div>
							</md-input-container>
							
							<md-input-container flex="33" flex-xs="100">
							<label>Kodakondsus</label>
							<md-select ng-model="citizenship">
								<md-option ng-repeat="citizenship in citizenships" value="{{citizenship.id}}">
									{{citizenship.name}}
								</md-option>
							</md-select>
							</md-input-container>
						
						</div>

						

						<div layout="row" layout-align="center" flex="100" layout-xs="column" flex-xs="100">
						
							<md-radio-group ng-model="radioCurrent" >
								<div layout="column" flex="33" flex-xs="100">
									<md-radio-button value="0" ng-click="selectRadio(0)">Isikukood</md-radio-button>
									<md-radio-button value="1" ng-click="selectRadio(1)">Sünniaeg</md-radio-button>
								</div>
							</md-radio-group>


							<md-input-container ng-show="isSelected(0)" flex="33" flex-xs="100" class="isikukood">
								<label style="padding-left:64px;">Isikukood</label>
								<input ng-model="idCode" name="idCode" type="text" ng-required="isSelected(0)" md-asterisk ng-pattern="/^\d+$/" ng-minlength="11"
									ng-maxlength="11">
									<div ng-messages="policeForm.idCode.$error" role="alert">
										<div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
											Täpselt 11 tähemärki pikk ja ainult numbrid.
										</div>
									</div>
							</md-input-container>

							<md-input-container ng-show="isSelected(1)" flex="33" flex-xs="100">
								<label>Sünniaeg</label>
								<md-datepicker ng-model="dateOfBirth" ng-required="isSelected(1)" md-asterisk></md-datepicker>
							</md-input-container>
							
							<md-input-container flex="20" flex-xs="100">
								<label>Telefon:</label>
								<input ng-model="phone" name="phone" type="text" required md-asterisk ng-pattern="/^\d+$/">
								<div ng-messages="policeForm.phone.$error" role="alert">
									<div ng-message="required">See väli on kohustuslik.</div>
									<div ng-message="pattern">Lubatud ainult numbrid.</div>
								</div>
							</md-input-container>
						
						</div>
						
						
						<div layout="row" layout-align="center" layout-xs="column" 
						flex="100">
						
							<md-input-container flex="40" flex-xs="100">
								<label>E-post</label>
								<input ng-model="email" name="epost" type="email" required md-asterisk>
								<div ng-messages="policeForm.epost.$error" role="alert">
									<div ng-message="required">See väli on kohustuslik.</div>
									<div ng-message="email">Vajalik sisestada õige e-maili aadress.</div>
								</div>
							</md-input-container>
							
							<md-input-container flex flex-xs="100">
								<label>Elukoha aadress</label>
								<input ng-model="address" type="text">
							</md-input-container>
						</div>	
						
						<div layout="row" layout-align="center" layout-xs="column" flex="100" >
						
							<md-input-container flex="33" flex-xs="100">
								<label>Sihtnumber</label>
								<input ng-model="postcode" name="postcode" type="text" ng-pattern="/^\d+$/">
								<div ng-messages="policeForm.postcode.$error" role="alert">
									<div ng-message-exp="['pattern']">
										Lubatud ainult numbrid.
									</div>
								</div>
							</md-input-container>
							
							<md-input-container flex="33" flex-xs="100">
								<label>Maakond</label>
								<md-select ng-model="county">
									<md-option ng-repeat="county in counties" value="{{county.id}}">
										{{county.name}}
									</md-option>
								</md-select>
							</md-input-container>
							
							<md-input-container flex="33" flex-xs="100">
							<div >
								<label>Amet</label>
								<input ng-model="occupation" type="text" pattern="[a-zA-Z]+">
							</div>
							</md-input-container>
						
						</div>

					   <div layout="row" layout-align="center" layout-xs="column" flex="100" >
							<md-input-container flex="50" flex-xs="100">
								<label>Sobiv viis kontakteerumiseks</label>
								<md-select ng-model="contact_manner">
									<md-option ng-repeat="cm in contact_manners" value="{{cm.id}}">
										{{cm.name}}
									</md-option>
								</md-select>
							</md-input-container>

							<md-input-container flex="50" flex-xs="100">
								<label>Sobiv aeg kontakteerumiseks</label>
								<input ng-model="contact_time" type="text">
							</md-input-container>
							
						</div>
		  
						<div layout="row"   layout-xs="column" flex="100">
						
						<md-input-container flex="50" flex-xs="100">
							<md-checkbox ng-model="person_is_jur" aria-label="Kannatanu on juriidiline isik">Kannatanu on juriidiline isik</md-checkbox>
						</md-input-container>
						
						<md-input-container ng-show=isACompany() flex="50" flex-xs="100">
							<label>Registrikood</label>
							<input ng-model="registryCode" type="number">
						</md-input-container>
						</div>
						
					</div>
					<div class="blocks" align="center">
						<div class="md-block"  flex="100">
							<h3>Sündmuse toimumise aeg</h3>
						</div>
						<div layout="row" layout-align="center" layout-xs="column" flex="100" >
							<md-input-container flex="40" flex-xs="100">
								<label>Kellaaeg</label>
								<input ng-model="timeOfIncident" type="time">
							</md-input-container>
							<md-input-container flex="45" flex-xs="100">
								<label>Kuupäev</label>
								<md-datepicker ng-model="dateOfIncident"></md-datepicker>
							</md-input-container>
						</div>
                    </div>
					<div class="blocks" align="center">
						<div  flex="100">
							<h3>Sündmuse toimumise koht</h3>
						</div>
						<div layout="row" layout-align="center" layout-xs="column" flex="100" >
							<md-input-container flex="33" flex-xs="100">
								<label>Riik</label>
								<md-select ng-model="country">
									<md-option ng-repeat="country in citizenships" value="{{country.id}}">
										{{country.name}}
									</md-option>
								</md-select>
							</md-input-container>
							
							<md-input-container flex-gt-xs="30" flex-xs="100">
								<label>Prefektuur</label>
								<md-select ng-model="police_area">
									<md-option ng-repeat="area in police_areas" value="{{area.id}}">
										{{area.name}}
									</md-option>
								</md-select>
							</md-input-container>

							

							<md-input-container flex="33" flex-xs="100">
								<label>Toimumise koht</label>
								<input ng-model="place" type="text">
							</md-input-container>
						</div>
						<div layout="row" layout-align="center" layout-xs="column" flex="100">
							<md-input-container flex flex-xs="100">
								<label>Aadress</label>
								<input ng-model="incidentAddress" type="text">
							</md-input-container>
						</div>
					</div>
					<div class="blocks" align="center">
                    <div class="md-block" flex="100">
                        <h3>Toimunu kirjeldus</h3>
                    </div>
					<div layout="row" layout-align="center" layout-xs="column" flex="100">
						<md-input-container flex flex-xs="100">
							<label>Kirjeldus</label>
							<textarea ng-model="desc" name="desc" required md-asterisk ng-minlength="15"></textarea>
							<div ng-messages="policeForm.desc.$error" role="alert">
								<div ng-message="required">See väli on kohustuslik.</div>
								<div ng-message="minlength">Vähemalt 15 tähemärki.</div>
							</div>
						</md-input-container>
					</div>
						<div layout="row" layout-align="center" layout-xs="column" flex="100">
							<md-input-container flex="40" flex-xs="100">
								<label>Tekitatud varaline kahju €</label>
								<input ng-model="damage" type="number" ng-pattern="/^\d+$/">
							</md-input-container>
						</div>
					</div>
					
					
					
					<div class="blocks" align="center">
						<div class="md-block" flex="100">
							<h3>Ära võetud/viidud/saamata jäänud vara</h3>
						</div>

						<div data-ng-repeat="item in items" flex="100">
							
							<div layout="row" layout-align="center" flex="100">
								<h4>VARA #{{item.output_id}}</h4>
								<md-button class="md-raised" style="margin-top: -1px;"ng-click="removeItem(item)">Eemalda</md-button>
							</div>
							
							<div layout="row" layout-align="center" layout-xs="column" flex="100" layout-xs="column" style="margin-bottom:10px;">
								<md-input-container flex="28" flex-xs="100">
									<label>Eseme nimetus</label>
									<input ng-model="item.name" type="text">
								</md-input-container>
								<md-input-container flex="30" flex-xs="100">
									<label>Soetamise aasta</label>
									<input name="itemYear" ng-model="item.year" type="number" min="0" max="2017">
									<div ng-messages="policeForm.itemYear.$error" role="alert">
									 <div ng-message-exp="['min', 'max']">
										Vahemikus 0 kuni 2017
									</div>
								</div>
								</md-input-container>
								<md-input-container flex="40" flex-xs="100">
									<label>Ligikaudne hetkeväärtus</label>
									<input name="itemValue" ng-model="item.value" type="number" min="0">
									<div ng-messages="policeForm.itemValue.$error" role="alert">
									<div ng-message-exp="['min']">
										Vara väärtus ei saa olla väiksem kui 0.
									</div>
								</div>
								</md-input-container>
							</div>

							<div layout="column">
								<div class="md-block" flex="100">
									<p>Vara/valdus olemas (viimati kannatanul/teatajal ese/asi olemas)</p>
								</div>
								<div layout="row" layout-align="center" layout-xs="column" flex="100" layout-xs="column">
									<md-input-container flex="35" flex-xs="100">
										<label>Kellaaeg</label>
										<input ng-model="item.timeLastThere" type="time">
									</md-input-container>
									<md-input-container flex="35" flex-xs="100">
										<label>Kuupäev</label>
										<md-datepicker ng-model="item.dateLastThere"></md-datepicker>
									</md-input-container>
								</div>
							</div>

							<div layout="column">
								<div class="md-block" flex="100">
									<p>Vara valdusest väljaminek on tuvastatud (polnud enam eset/asja teatajal/kannatanul olemas)</p>
								</div>
								<div  layout="row" layout-align="center" layout-xs="column" flex="100" layout-xs="column">
									<md-input-container flex="35" flex-xs="100">
										<label>Kellaaeg</label>
										<input ng-model="item.timeWentMissing" type="time">
									</md-input-container>
									<md-input-container flex="35" flex-xs="100">
										<label>Kuupäev</label>
										<md-datepicker ng-model="item.dateWentMissing"></md-datepicker>
									</md-input-container>
								</div>
							</div>

							<div layout="column">
								<md-input-container flex="100">
									<md-checkbox ng-model="item.wasInALockedRoom" aria-label="Vara oli lukustatud ruumis">Vara oli lukustatud ruumis</md-checkbox>
								</md-input-container>

								<md-input-container flex="100">
									<label>Tundemärgid ja eritunnused (sh raaminumber, seerianumber, IMEI-kood jm)</label>
									<input ng-model="item.identification" type="text">
								</md-input-container>
							</div>
						</div>

						<md-input-container flex="100">
							<md-button class="md-raised" ng-click="addNewItem()">Lisa vara</md-button>
						</md-input-container>
						
					</div>
					
					<div class="blocks" align="center">
						<div class="md-block" flex="100">
							<h3>Süüteo toime pannud isiku(te) andmed</h3>
						</div>

						<div data-ng-repeat="perp in perpetrators" flex="100">

							<div layout="row" flex="100" layout-align="center">
								<h4>SÜÜTEO TOIME PANNUD ISIK #{{perp.output_id}}</h4>
								<md-button style="margin-top:-1px; "class="md-raised" ng-click="removePerp(perp)">Eemalda</md-button>
							</div>

							<div layout="row" layout-align="center" layout-xs="column" flex="100" layout-xs="column">
								<md-input-container>
									<label>Eesnimi</label>
									<input name="perpFirstName" ng-model="perp.firstName" type="text" md-maxlength="30" md-asterisk>
								<div ng-messages="policeForm.perpFirstName.$error" role="alert">
								<div ng-message="md-maxlength">Eesnimi ei tohi olla pikem kui 30 tähemärki.</div>
								</div>
								</md-input-container>
								<md-input-container>
									<label>Perekonnanimi</label>
									<input name="perpLastName" ng-model="perp.lastName" type="text" md-maxlength="30" md-asterisk>
								<div ng-messages="policeForm.perpLastName.$error" role="alert">
								<div ng-message="md-maxlength">Perekonnanimi ei tohi olla pikem kui 30 tähemärki.</div>
								</div>
								</md-input-container>
								
								<md-input-container flex="33" flex-xs="100">
								<label>Kodakondsus</label>
								<md-select ng-model="perp.citizenship">
									<md-option ng-repeat="citizenship in citizenships" value="{{citizenship.id}}">
										{{citizenship.name}}
									</md-option>
								</md-select>
							</md-input-container>
							</div>

							<div layout="row" layout-align="center" layout-xs="column" flex="100" layout-xs="column">
								<md-input-container flex="33" flex-xs="100">
									<label>Isikukood</label>
									<input ng-model="perp.idCode" type="text" name="perpidCode" type="text" md-asterisk ng-pattern="/^\d+$/" ng-minlength="11"
								ng-maxlength="11">
								<div ng-messages="policeForm.perpidCode.$error" role="alert">
									<div ng-message-exp="['minlength', 'maxlength', 'pattern']">
										Isikukood peab olema täpselt 11 tähemärki pikk ja sisaldama ainult numbreid.
									</div>
								</div>
								</md-input-container>
								<md-input-container flex="33" flex-xs="100">
									<label>Sünniaeg</label>
									<md-datepicker ng-model="perp.dateOfBirth"></md-datepicker>
								</md-input-container>
								
								<md-input-container flex="33" flex-xs="100">
									<label>Telefon</label>
									<input ng-model="perp.phone" name="perpPhone" type="text" ng-pattern="/^\d+$/">
								<div ng-messages="policeForm.perpPhone.$error" role="alert">
									<div ng-message="pattern">Telefoninumber peab sisaldama ainult numberid.</div>
								</div>
								</md-input-container>
							</div>

							

							<div layout="row" layout-align="center" layout-xs="column" flex="100" layout-xs="column">
								<md-input-container flex="30" flex-xs="100">
									<label>E-post</label>
									<input ng-model="perp.email" type="email" name="perpepost" type="email" md-asterisk>
								<div ng-messages="policeForm.perpepost.$error" role="alert">
									<div ng-message="email">Vajalik sisestada õige e-maili aadress.</div>
								</div>
								</md-input-container>
								
								<md-input-container flex flex-xs="100">
									<label>Aadress</label>
									<input ng-model="perp.address" type="text">
								</md-input-container>
								
								<md-input-container flex="20" flex-xs="100">
									<label>Amet</label>
									<input ng-model="perp.occupation" type="text">
								</md-input-container>
							</div>

							
							<div layout="row" layout-align="center" layout-xs="column" flex="100" layout-xs="column">
								<md-input-container flex="100">
									<label>Tundemärgid</label>
									<input ng-model="perp.identification" type="text">
								</md-input-container>
							</div>

						</div>

						<md-input-container flex="100">
							<md-button  class="md-raised" ng-click="addNewPerp()">Lisa isik</md-button>
						</md-input-container>

					</div>
					<div class="blocks" align="center">
						<div class="md-block" flex="100">
							<h3>Tunnistaja(te) andmed</h3>
						</div>

						<div data-ng-repeat="witness in witnesses" flex="100">

							<div layout="row" flex="100" layout-align="center">
								<h4>TUNNISTAJA #{{witness.output_id}}</h4>
								<md-button  class="md-raised" style="margin-top:-1px;" ng-click="removeWitness(witness)">Eemalda</md-button>
							</div>

							<div layout="row" layout-align="center" layout-xs="column" flex="100" layout-xs="column">
								<md-input-container flex="33" flex-xs="100">
									<label>Eesnimi</label>
									<input ng-model="witness.firstName" name="witnessFirstName" type="text" md-maxlength="30" md-asterisk>
								<div ng-messages="policeForm.eitnessFirstName.$error" role="alert">
								<div ng-message="md-maxlength">Eesnimi ei tohi olla pikem kui 30 tähemärki.</div>
								</div>
								</md-input-container>
								<md-input-container flex="33" flex-xs="100">
									<label>Perekonnanimi</label>
									<input ng-model="witness.lastName" name="witnessLastName" type="text" md-maxlength="30" md-asterisk>
									<div ng-messages="policeForm.witnessLastName.$error" role="alert">
										<div ng-message="md-maxlength">Perekonnanimi ei tohi olla pikem kui 30 tähemärki.</div>
									</div>
								</md-input-container>
								
								<md-input-container flex="33" flex-xs="100">
								<label>Kodakondsus</label>
								<md-select ng-model="witness.citizenship">
									<md-option ng-repeat="citizenship in citizenships" value="{{citizenship.id}}">
										{{citizenship.name}}
									</md-option>
								</md-select>
							</md-input-container>
							</div>

							<div layout="row" layout-align="center" layout-xs="column" flex="100" layout-xs="column">
								<md-input-container flex="33" flex-xs="100">
									<label>Isikukood</label>
									<input ng-model="witness.idCode" type="text" name="witnessidCode" type="text" ng-pattern="/^\d+$/" ng-minlength="11"     ng-maxlength="11">
								<div ng-messages="policeForm.witnessidCode.$error" role="alert">
									<div ng-message-exp="['minlength', 'maxlength', 'pattern']">
										Isikukood peab olema täpselt 11 tähemärki pikk ja sisaldama ainult numbreid.
									</div>
								</div>
								</md-input-container>
								<md-input-container flex="33" flex-xs="100">
									<label>Sünniaeg</label>
									<md-datepicker ng-model="witness.dateOfBirth"></md-datepicker>
								</md-input-container>
								
								<md-input-container flex="33" flex-xs="100">
									<label>Telefon</label>
									<input ng-model="witness.phone" name="witnessPhone" type="text" ng-pattern="/^\d+$/">
									<div ng-messages="policeForm.witnessPhone.$error" role="alert">
										<div ng-message="pattern">Telefoninumber peab sisaldama ainult numberid.</div>
									</div>
								</md-input-container>
							</div>

							

							<div layout="row" layout-align="center" layout-xs="column" flex="100" layout-xs="column">
								<md-input-container flex="30" flex-xs="100">
									<label>E-post</label>
									<input ng-model="witness.email" type="email" name="witnessepost" type="email">
								<div ng-messages="policeForm.witnessepost.$error" role="alert">
									<div ng-message="email">Vajalik sisestada õige e-maili aadress.</div>
								</div>
								</md-input-container>
								<md-input-container flex flex-xs="100">
									<label>Aadress</label>
									<input ng-model="witness.address" type="text">
								</md-input-container>
								<md-input-container flex="20" flex-xs="100">
									<label>Amet</label>
									<input ng-model="witness.occupation" type="text">
								</md-input-container>
							</div>

							<div>
								
							</div>


							<div layout-xs="column">
								
								
							</div>

						</div>

						<md-input-container flex="100">
							<md-button class="md-raised" ng-click="addNewWitness()">Lisa tunnistaja</md-button>
						</md-input-container>
					</div>
					<div class="blocks" align="center">
						<div class="md-block" flex="100">
							<h3>Täiendavad andmed</h3>
						</div>

						<md-input-container layout="column"  flex="100">
							<md-checkbox align="left" layout="row" ng-model="kokkuleppemenetlus" aria-label="Olen nõus kokkuleppemenetlusega">Olen nõus kokkuleppemenetlusega</md-checkbox>
							<!--
							<md-checkbox ng-model="docs_to_email" aria-label="Olen nõus, et menetlusega seotud dokumendid edastatakse minu poolt antud e-posti aadressile"> <span>Olen nõus, et menetlusega seotud dokumendid edastatakse minu poolt antud e-posti aadressile</span></md-checkbox>
							-->
							<md-checkbox align="left" layout="row"  ng-model="e_toimik" aria-label="Soovin teavet E-Toimiku kaudu https://www.e-toimik.ee/">Soovin teavet E-Toimiku kaudu <a href="https://www.e-toimik.ee/">https://www.e-toimik.ee/</a></md-checkbox>
						</md-input-container>

						<div>
							<md-button type="submit" class="md-raised md-primary">Kinnita allkirjastamata</md-button>
						</div>
                    </div>
			
                </div>
            </form>
            <div layout="column" ng-show="showResult" layout-wrap>
                <h3>Vorm edukalt saadetud!</h3>
                <p>
                    <b>Eesnimi: </b>{{firstName}}<br />
                    <b>Perekonnanimi: </b>{{lastName}}<br />
                    <b>Isikukood: </b>{{idCode}}<br />
                    <b>Sünniaeg: </b>{{dateOfBirth}}<br />
                    <b>Amet: </b>{{occupation}}<br />
                    <b>Kodakondsus: </b>{{citizenship}}<br />
                    <b>Elukoha aadress: </b>{{address}}<br />
                    <b>Sihtnumber: </b>{{postcode}}<br />
                    <b>Maakond: </b>{{county}}<br />
                    <b>Sobiv viis kontakteerumiseks: </b>{{contact_manner}}<br />
                    <b>Sobiv aeg kontakteerumiseks: </b>{{contact_time}}<br />
                    <b>E-post: </b>{{email}}<br />
                    <b>Telefon: </b>{{phone}}<br />
                    <b>Kannatanu on juriidiline isik: </b>{{person_is_jur}}<br />
                    <b>Registrikood: </b>{{registryCode}}<br />
                    <b>Sündmuse toimumise kuupäev: </b>{{dateOfIncident}}<br />
                    <b>Sündmuse toimumise aeg: </b>{{timeOfIncident}}<br />
                    <b>Prefektuur: </b>{{police_area}}<br />
                    <b>Riik: </b>{{country}}<br />
                    <b>Aadress: </b>{{incidentAddress}}<br />
                    <b>Toimumise koht: </b>{{place}}<br />
                    <b>Toimunu kirjeldus: </b>{{desc}}<br />
                    <b>Tekitatud varaline kahju: </b>{{damage}}<br />
                    <b>Ära võetud/viidud/saamata jäänud vara: </b>{{items}}<br />
                    <b>Süüteo toime pannud isiku(te) andmed: </b>{{perpetrators}}<br />
                    <b>Tunnisatajate andmed: </b>{{witnesses}}<br />
                    <b>Olen nõus kokkuleppemenetlusega: </b>{{kokkuleppemenetlus}}<br />
                    <b>Olen nõus, et menetlusega seotud dokumendid edastatakse minu poolt antud e-posti aadressile: </b>{{docs_to_email}}<br
                    />
                    <b>Soovin teavet E-Toimiku kaudu: </b>{{e_toimik}}
                </p>
            </div>
        </md-content>
    </div>
</body>

</html>
