
h3,h1 {
	text-align:center;
	margin:10px;
}


@media only screen and (min-width: 700px) {
	.blocks {
		 box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
		 width:49%;
		 margin-bottom:3%;
		 padding:2%;
		 
	}
	   
	#selectButtons {
		margin-top: -7px;
		margin-right: 20px;
		margin-left: 20px;
		
	}
	
	.isikukood {
		padding-left:64px;
		padding-right:6px;
		
		
	}
	
	@-moz-document url-prefix() {
    .isikukood {
        padding-bottom:7px;
    }
	.blocks { 
		margin:15px auto;
		
	}
	
	
}

	
	
}
